
body
{
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
}

.navBar
{
	background-color: #FFF;
	z-index: 2000;
	height: 150px;
	width: 100%;
	left: 0;
	top: 0;
 
	border-top: 6px solid #433f50; ;
}



.wrap
{

	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 1100px;
	overflow: hidden;
	padding-bottom: 80px;
}

.content
{
	background: url(piper.jpg) no-repeat;
	height: 300px;
	width: 1100px;
	margin: 0 auto;
	z-index: 1900;
	background-position: center;


}

.content h1
{
	font-weight: 300;
	font-size: 27px;
	font-weight: 200;
}

.cont
{
	width: 50%;
	margin-top: 55px;
	float: left;
	overflow: hidden;	

}
.content2
{
	border-bottom: 1px solid #dedede;
}

.content3
{
	

}

.dividerCont
{
	height:10px;
	background: url(blurr2.jpg);
}
.footer
{
	height: 300px;

}

.rightHeader
{
	width: 60%;
	float:right;
	overflow: hidden;
	position: relative;
}

.leftHeader
{
	float:left;
	overflow: hidden;
	position: relative;
	padding-top: 13px;
}

.rightHeader a
{
	font-size: 14px;
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 100px;
	padding-bottom: 20px;
	font-weight: 300;

}
.rightHeaderActive a
{
	color: white;
	text-decoration: none;
	display: inline-block;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 100px;
	padding-bottom: 18px;
	font-weight: 400;
	text-transform: uppercase;
	background: #433f50;
	height: 22px;
	/*
	background-image: url(arrow.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	*/

}


.rightHeader a:hover
{
		
	color: white;
	text-decoration: none;
	display: inline-block;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 100px;
	padding-bottom: 18px;
	background: #433f50;
	height: 22px;


}

.divider
{
	border-right: #CCC dotted 1px;
	margin-right: 2px;
}

.halfLeft
{
	float: left;
	width: 49%;
	min-height:200px;
	overflow: hidden;
	border-right: 1px solid #fff;
}

.halfRight
{
	float: left;
	width: 49%;;
	min-height:200px;
	overflow: hidden;
}

.header
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.box h1
{
	color: #dd480e;
	font-weight: 300;
	margin-top: 45px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.7em;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	background: #000;
	opacity: 0.8;
	padding: 73px;
	color: #fff;
	margin-bottom:0px;
}


.header p
{
	line-height: 1.6em;
	color: #999;
	font-weight: 300;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.box
{
	width: 32%;
	overflow: hidden;
	float: left;
	
	margin: 2px;
	background: #fff;	
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
	opacity: 0.8;
	padding-top:245px;
}

.col
{
	width: 66.6%;
	margin: 0 auto;
	margin-top: 20px;
	border-bottom: 1px solid #dedede;
}

.col2
{
	width: 66.6%;
	margin: 0 auto;
	margin-top: 20px;
}

.col h2
{
	text-align: center;
	text-transform: uppercase;
	color: #444;
	font-weight: 400;
}

.col h3
{
	text-align: center;
	color: #444;
	font-weight: 300;
}

.col2 p
{
	text-align:center;
	color: #444;
	font-weight: 300;
}

.video
{
	width: 40%;
	height: 110px;
	background: #433f50;
	margin: 0 auto;
	position: relative;
	opacity: 0.8;
	float:right;
	margin-top: 70px;
	
	
}

.video h1
{

	font-weight: 300;
text-align: center;
text-transform: uppercase;
padding-top: 35px;
margin: 0;
}

.video h2
{

	color: #fff;
	font-weight: 300;
	text-align: center;


}

.videoSmall
{
	width: 100px;
	height: 100px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
	position: relative;
	top: 30px;
	float: left;
}

.col33
{
	width: 29%;
	margin: 0 auto;
	margin-top: 20px;

	float: left;
	margin: 20px;
}

.colInside
{
		border-bottom: 1px solid #dedede;
}



.col33 h2
{
	text-align: center;
	text-transform: uppercase;
	color: #444;
	font-weight: 400;
}

.col33 h3
{
	text-align: center;
	color: #444;
	font-weight: 300;
}

.col33 img
{
	position: relative;
	left: 124px;
}

.col33 a
{
	text-decoration: none;
		color: #444;
}

.col33 a:hover
{
	color: #eb5e28;
}


.button
{
width: 280px;
height: 50px;
overflow: hidden;
position: relative;
bottom: -54px;
margin: 0 auto;
opacity: 0.8;
right: 6px;
color: #fff;
background: #eb5e28;
box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
}
	


.button h2
{
	font-weight: 200;
padding-left: 72px;
padding-bottom: 1px;
margin-bottom: -10px;
position: relative;
top: -11px;
}

.button:hover
{
	color: #fff;
	background: #eb5e28;
	cursor: pointer;
}

.button a
{
	text-decoration:none;
	color: #fff;
	margin: 0 auto;
}

.series
{
	float: left;
background: white;
height: 300px;
width: 31%;
margin: 11px;
box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
}

.black
{
	width: 100%;
	height: 120px;
	background: #444;
	position: relative;
	top: 180px;
}

.col66
{
	width: 20%;
	margin: 0 auto;
	margin-top: 20px;
	border-bottom: 1px solid #eb5e28;
	

}
.col2 p
{
	text-align:center;
	color: #444;
	font-weight: 300;
}

.col66 h2
{
	text-align: center;
	text-transform: uppercase;
	color: #eb5e28;
	font-weight: 400;

}

.col66 h3
{
	text-align: center;
	color: #fff;
	font-weight: 300;
}

.pic img
{
	float: left;
}

.pic p
{
	font-family: 'PT Sans';
font-size: 10px;
color: #000;
}

.square
{
	width: 365px;
	height: 329px;
	background: #433f50;
	float:left;
	overflow: hidden;
	
}
